{
  "env": {
    "development": {
       "plugins": [
          [
            "module-resolver",
            
            {
              "cwd": "babelrc",
              "root": [
                "./src"
              ],
              "extensions": [
                ".js",
                ".ts",
                ".tsx",
                ".ios.js",
                ".android.js"
              ],
              "alias": {
                "@config": "./src/config",
                "@i18n": "./src/i18n",
                "@features": "./src/features",
                "@components": "./src/components",
                "@commons": "./src/components/commons",
                "@constants": "./src/constants",
                "@images": "./src/images",
                "@navigation": "./src/navigation",
                "@screens": "./src/screens",
                "@services": "./src/services",
                "@store": "./src/store",
                "@types": "./src/types",
                "@firebase": "./src/firebase"
              }
            }
          ]
      ]
    },
    "production": {
      "plugins": ["transform-remove-console",[
            "module-resolver",
            
            {
              "cwd": "babelrc",
              "root": [
                "./src"
              ],
              "extensions": [
                ".js",
                ".ts",
                ".tsx",
                ".ios.js",
                ".android.js"
              ],
              "alias": {
                "@config": "./src/config",
                "@i18n": "./src/i18n",
                "@features": "./src/features",
                "@components": "./src/components",
                "@commons": "./src/components/commons",
                "@constants": "./src/constants",
                "@images": "./src/images",
                "@navigation": "./src/navigation",
                "@screens": "./src/screens",
                "@services": "./src/services",
                "@store": "./src/store",
                "@types": "./src/types",
                "@firebase": "./src/firebase"
              }
            }
          ]]
    }
  }
}